/* NAV LINKS */

.navigation-link,
.btn {
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  color: #282828;
  text-decoration: none;
  font-weight: 500;

  transition: all 0.5s;
}

.navigation-link:link,
.navigation-link:visited {
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:active {
  background-color: #e6e6e6;
}

/* BOOK NOW AND DONATE */

.btn-booknow:link,
.btn-booknow:visited {
  background-color: #ffd700;
}

.btn-booknow:hover,
.btn-booknow:active {
  background-color: #e6c200;
}

.btn-donate:link,
.btn-donate:visited {
  background-color: #00c1ff;
}

.btn-donate:hover,
.btn-donate:active {
  background-color: #00aee6;
}

/*READ MORE  */
.read-more-link:link,
.read-more-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #5300b8;
  margin-top: 2rem;
}

.read-more-link:hover,
.read-more-link:active {
  text-decoration: underline;
}

/* EVENTS LINKS */
.btn-read-more:link,
.btn-read-more:visited {
  background-color: #5300b8;
  color: #fffdf5;
  text-decoration: none;
  font-size: 2.2rem;
  text-align: center;
}

.btn-read-more:hover,
.btn-read-more:active {
  background-color: #fff;
  color: #5300b8;
  box-shadow: inset 0 0 0 1px #5300b8;
}

/* SUBMIT BTN*/

.btn-submit {
  background-color: #333;
  color: #fff;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
.btn-submit:hover {
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 0 0 1px #333;
}

/* FOOTER LINKS */

.footer-links a:link,
.footer-links a:visited {
  text-decoration: none;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer-links a:hover,
.footer-links a:active {
  text-decoration: underline;
}
