@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 1200px) {
  /* navigatio */
  .header {
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    position: fixed;
  }

  label[for="mobile-nav"] {
    display: block;
    cursor: pointer;
    margin-top: 4rem;
    opacity: 0.8;
  }

  .navigation {
    width: 100%;
    height: 100vh;

    display: none;

    position: absolute;
    top: 15rem;
    left: 0;
    background-color: #fff;
    z-index: 999;
  }

  .navigation ul {
    display: block;
    text-align: center;
    margin: 0;
  }

  .navigation li {
    padding: 2.5rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    border-bottom: 1px solid rgba(211, 208, 208, 0.4);
  }

  .search {
    margin-left: 0;
  }

  #mobile-nav:checked ~ .navigation {
    display: block;
  }

  .section-events .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-4cols {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .grid-3cols {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }

  .grid-2cols {
    grid-template-columns: 1fr;
  }

  /* hero section */

  .heading-primary {
    font-size: 6.4rem;
  }

  .section-hero::before {
    background-position-y: center;
    background-position-x: right;
  }

  .hero-description {
    font-size: 2rem;
  }

  /* about section*/

  .about-text {
    grid-row: 1/-1;
  }

  /* event section */

  .event {
    margin-bottom: 0;
  }
  .event:last-child {
    margin-bottom: 8rem;
  }
}

@media (max-width: 600px) {
  .grid-3cols {
    grid-template-columns: 1fr;
  }

  figure {
    border: 1px solid rgba(211, 208, 208, 0.7);
    padding: 2rem;
  }

  /* hero section */

  .heading-primary {
    font-size: 5.2rem;
  }
  .section-hero::before {
    background-position-y: top;
    background-position-x: center;
  }

  /* event section */
  .event {
    padding: 4rem 2rem;
  }

  /* contact page */

  .contact {
    display: block;
  }

  .opening {
    margin: 0;
  }
}
