@media (max-width: 1450px) {
  html {
    font-size: 50%;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 75%;
  }
}

@media (max-width: 1200px) {
  /* nav */
  .header {
    display: flex;
    justify-content: space-around;
    position: relative;
    text-align: center;
    font-size: 1.4rem;
    position: fixed;
  }

  label[for="mobile-nav"] {
    display: block;
    cursor: pointer;
    margin-top: 4rem;
    opacity: 0.8;
  }

  .navigation {
    width: 100%;
    height: 100vh;

    display: none;

    position: absolute;
    top: 10rem;
    left: 0;
    background-color: #fff;
    z-index: 999;
  }

  .navigation ul {
    display: block;
    text-align: center;
    margin: 0;
  }

  .navigation li {
    padding: 2.5rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    border-bottom: 1px solid rgba(211, 208, 208, 0.4);
  }

  .search {
    margin-left: 0;
  }

  #mobile-nav:checked ~ .navigation {
    display: block;
  }

  .section-events .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-4cols {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
  }
  .section-cta.grid-2cols {
    display: block;
  }

  .section-cta .form {
    margin: 0 auto;
  }
}

@media (max-width: 1000px) {
  .grid-3cols {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  .booking-events.grid-3cols {
    row-gap: 3rem;
  }

  .grid-2cols {
    grid-template-columns: 1fr;
  }

  /* hero section */

  .heading-primary {
    font-size: 6.4rem;
  }

  .section-hero::before {
    background-position-y: center;
    background-position-x: right;
  }

  .hero-description {
    font-size: 2rem;
  }

  /* about section*/

  .about-text {
    grid-row: 1/-1;
  }

  /* event section */

  .event {
    margin-bottom: 0;
  }

  .event:last-child {
    margin-bottom: 8rem;
  }
}

@media (max-width: 600px) {
  .grid-3cols {
    grid-template-columns: 1fr;
  }

  .header .logo {
    margin-left: 0;
    max-width: 15rem;
  }

  figure {
    border: 1px solid rgba(211, 208, 208, 0.7);
  }

  /* hero section */

  .heading-primary {
    font-size: 6rem;
    line-height: 0.9;
  }

  .section-hero::before {
    background-position-y: top;
    background-position-x: center;
  }

  /* contact page */

  .contact {
    display: block;
  }

  .opening {
    margin: 0;
  }

  /* section cta */
  .section-cta.container {
    max-width: 100%;
  }
  .section-cta h1 {
    font-size: 4rem;
  }
  .section-cta p {
    font-size: 1.8rem;
  }
  .section-cta .form {
    padding: 3rem;
  }

  /* teachers, childrens, researchers page */
  .form {
    margin: 0;
  }
}
