/* NAV */

.header {
  text-align: center;
  font-family: "roboto", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  font-size: 2rem;

  background-color: #fff;
  width: 100%;
  text-align: center;

  position: fixed;
  z-index: 999;
}

.logo {
  max-width: 15rem;
  opacity: 0.6;
}

.navigation ul {
  display: flex;
  justify-content: center;
  gap: 3rem;

  list-style: none;
  padding-bottom: 1rem;
  margin-left: 20rem;
}

.search {
  margin-left: 10rem;
  opacity: 0.8;
}

.navigation input {
  max-width: 12rem;
  padding: 0.3rem;
}

.navigation button {
  padding: 0.5rem;
  background-color: #fff;
  border: 1px solid #707070;
}

.current {
  color: #5300b8;
}

/* mobile nav */
label[for="mobile-nav"],
label[for="search"],
#mobile-nav {
  display: none;
}

label[for="mobile-nav"] i {
  color: #707070;
  margin: 0 1rem 4rem 0;
  font-size: 4.6rem;
}

/* SECTION HERO */

.section-hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.section-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../images/HEro.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top center;

  opacity: 0.4;
}

.hero-text {
  display: inline-block;
  position: relative;
}

.hero-description {
  font-family: "Lora", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  text-align: center;
  font-size: 2.8rem;
}

.free-admission {
  position: absolute;
  bottom: 0;
  right: 0;
  display: inline-block;
  background-color: #5300b8;
  color: #fff;
  padding: 2rem;
  display: inline-block;
}

.free-admission h3 {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  font-size: 1.4rem;
}

.free-admission p {
  font-size: 1.2rem;
}

/* SECTION ABOUT */
.section-about {
  animation: loading 2s;
}

@keyframes loading {
  from {
    transform: translateY(30rem);
  }

  to {
    transform: translateY(0);
  }
}

.section-about p {
  font-size: 2rem;
  line-height: 1.5;
  margin: 2rem 0;
}

.about-text {
  justify-self: center;
}

/* SECTION EXPLORE */
.section-explore h3 {
  text-align: center;
}

/* SECTION EXHIBITIONS */
.section-exhibitions {
  margin-bottom: 16rem;
}

.section-exhibitions h3 {
  text-align: left;
}

/* SECTION EVENTS */
.section-events {
  max-width: 100%;
  background-color: #ffd700;

  position: relative;
  overflow: hidden;
  margin-bottom: 0;
}

.section-events::before {
  content: "Ongoing";
  position: absolute;
  top: 4rem;
  right: -5rem;
  transform: rotate(37deg);
  background-color: #00c1ff;
  padding: 1rem 8rem;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.event {
  justify-self: end;
  max-width: 40rem;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr 1fr auto auto;
  column-gap: 5rem;

  margin-bottom: 12rem;
}

.event h3,
.event-description,
.event-date {
  grid-column: 1/-1;
}

.event-date {
  margin-bottom: 3rem;
}

.event-description {
  margin-bottom: 1rem;
  max-width: 50rem;
}

/* FOOTER */

.footer h3,
.footer img,
.opening-hours,
.contact-us,
.copy-right,
.newsletter {
  grid-column: 1/-1;
  text-align: center;
}

.footer h3 {
  font-size: 2rem;
  color: #5a5757;
  margin: 0;
  padding: 0;
}

.footer img {
  max-width: 20rem;
  margin: 0 auto;
  opacity: 0.7;
}

.adresse,
.footer-links,
.get-involved {
  justify-self: end;
}

.opening-hours,
.contact-us {
  margin-bottom: 6rem;
}

.footer i {
  padding: 1.5rem;
}

.footer i:hover {
  color: #5300b8;
}

.footer .btn {
  border: 1px solid #707070;
  display: inline-block;
  margin-top: 0.5rem;
}

.copy-right {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.get-involved a {
  text-decoration: none;
  color: #333;
}
